$white: #FFFFFF;
$dark-gray: #3D3D3D;
$black: #000000;
$flamenco: #FF7B05;
$spring-green: #05FF5B;
$shamrock: #26C09D;
$electric-violet: #DA0CED;
$selected-pastel-navy: #283342;
$background-pastel-navy: #232f3e;
$selected-orange: #f8991d;

$header-height: 50px;
$header-height-tall: 100px;
$animation-time: 1s;
$short-animation-time: 0.005s;


#cloud-svg {
    font-size: 128px;
}

.shrink {
    -webkit-transition: height $animation-time, visibility $short-animation-time;
    -moz-transition: height $animation-time, visibility $short-animation-time;
    -ms-transition: height $animation-time, visibility $short-animation-time;
    -o-transition: height $animation-time, visibility $short-animation-time;
    transition: height $animation-time, visibility $short-animation-time;
}

.gone {
    height: 0px !important;
}

.hide {
    visibility: 'hidden';
}

body {
    padding: 0px;
    margin: 0px;
}

h1#logo-title {
    text-align: left;
    margin-right: auto;
}

div.vertical-center-box {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    &.vertical-center-left {
        justify-content: flex-start !important;
    }
}


div.top-box {
    width: 100%;
    height: 256px;
}

div.tux-box {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a0/Tux-Icon.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // min-height: 250px;
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px;
}

div.main-body {
    width: 100%;
    margin-top: 150px;
}

nav.page-nav-bar {
    z-index: 999;
    padding-right: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: $background-pastel-navy;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: $white;

    span.vertical-bar {
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        font-size: 128px;
    }

    div {
        height: 196px;
        &.nav-constrained {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        &.column-left-wide{ float: left; width: 45%; }
        &.column-right-wide{ float: right; width: 45%; }
        &.column-center-skinny{ display: inline-block; width: 10%; }
    }
    // padding: 16px;

    
    ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 100%;
        height: 0px;
        list-style: none;
        li {
            vertical-align: middle;
            line-height: $header-height-tall;
            float: left;
            width: 33%;
            height: $header-height-tall;              
            &.active {
                background-color: $selected-pastel-navy;
                color: $selected-orange;
            }
        }
    }
    div.cloud-pic-box {
        font-size: 48px;
        overflow: hidden;
    }
}


    
header.page-header {
    text-align: center;
}

div.double-column-div {
    background: $spring-green;
    height: 160px;
    padding: 20px;
    border-radius: 32px;
}

section.about-us-section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
    text-align: center;
}

aside.did-you-know {
    text-align: center;
    float: right;
    margin: 0 1.5%;
    width: 30%;
    background: $shamrock;
    border-radius: 32px;
    top:50%;
    transform: translateY(20%);
}

hr {
    float: center;
    &.divider {
        border: 0;
        width: 50%;
        height: 1px;
        background-color: $dark-gray;
    }
}


